@if(isLoggedIn()){
  <mat-drawer-container class="container" autosize> <!--autosize-->
      <mat-toolbar style="position: absolute; background-color: #38b7ee;">
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Ocultar / Mostrar menu lateral">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ app_name }}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Cerrar sesion" (click)="cerrarSesion()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

    <mat-drawer #drawer class="sidenav" mode="side" [opened]="!isMobile">
      @if(isPinned){
        <button mat-icon-button style="position: absolute; right: 0; top: 5px;" class="pin-button" (click)="pin(); drawer.toggle()">
          <mat-icon style="transform: scale(1.1);">push_pin</mat-icon>
        </button>
      }@else{
        <button mat-icon-button style="position: absolute; right: 0; top: 5px;" class="pin-button" (click)="pin()">
          <mat-icon style="transform: scale(1.1);">close</mat-icon>
        </button>
      }
      <div class="espacio"></div>
      @if(isPinned){
        <ul id="lista_menu">
          <li [ngClass]="{'selected': seleccion == 0}" (click)="seleccionar(0)" class="opcion-menu"><a [routerLink]="'/dashboard'"><mat-icon style="color: white;">more_time</mat-icon></a></li>
          <li [ngClass]="{'selected': seleccion == 1}" (click)="seleccionar(1)" class="opcion-menu"><a [routerLink]="'/holidays'"><mat-icon style="color: white">luggage</mat-icon></a></li>
          <li [ngClass]="{'selected': seleccion == 4}" (click)="seleccionar(4)" class="opcion-menu"><a [routerLink]="'/profile'"><mat-icon style="color: white">person</mat-icon></a></li>
          @if(isManager()){
            <li [ngClass]="{'selected': seleccion == 2}" (click)="seleccionar(2)" class="opcion-menu"><a [routerLink]="'/users'"><mat-icon style="color: white">group</mat-icon></a></li>
            <li [ngClass]="{'selected': seleccion == 3}" (click)="seleccionar(3)" class="opcion-menu"><a [routerLink]="'/config'"><mat-icon style="color: white">settings</mat-icon></a></li>
          }
        </ul>
      }@else{
        <ul id="lista_menu">
          <li [ngClass]="{'selected': seleccion == 0}" (click)="seleccionar(0)" class="opcion-menu"><a [routerLink]="'/dashboard'" (click)="drawer.toggle()"><mat-icon style="color: white">more_time</mat-icon></a></li>
          <li [ngClass]="{'selected': seleccion == 1}" (click)="seleccionar(1)" class="opcion-menu"><a [routerLink]="'/holidays'" (click)="drawer.toggle()"><mat-icon style="color: white">luggage</mat-icon></a></li>
          <li [ngClass]="{'selected': seleccion == 4}" (click)="seleccionar(4)" class="opcion-menu"><a [routerLink]="'/profile'" (click)="drawer.toggle()"><mat-icon style="color: white">person</mat-icon></a></li>
          @if(isManager()){
            <li [ngClass]="{'selected': seleccion == 2}" (click)="seleccionar(2)" class="opcion-menu"><a [routerLink]="'/users'" (click)="drawer.toggle()"><mat-icon style="color: white">group</mat-icon></a></li>
            <li [ngClass]="{'selected': seleccion == 3}" (click)="seleccionar(3)" class="opcion-menu"><a [routerLink]="'/config'" (click)="drawer.toggle()"><mat-icon style="color: white">settings</mat-icon></a></li>
          }
        </ul>
      }
    </mat-drawer>
  
    <div class="sidenav-content">
      <router-outlet/>
    </div>
  
  </mat-drawer-container>
}@else{
  <router-outlet/>
}