.container {
    width: 100%;
    height: 100%;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
  }
  
.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
    background-color: gray;
    border: none;
}

.espacio {
    padding-top: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

#lista_menu {
    list-style-type: none;
}

#lista_menu > li {
    padding: 10px 0 10px 0;
}

#lista_menu > li > a{
    border-radius: 15px;
    padding: 15px 5px 5px 5px;
}

#lista_menu > li.selected > a{
    background-color: #009fe3;
  }
  