.btnOjo {
    border: none;
    margin-right: 2px;
}

.input-completo {
    width: 100%;
}

#btnActualizar {
    display: flex;
    justify-content: flex-end;
}

#input-mitad-izquierda{
    padding-right: 5px;
}

#input-mitad-derecha{
    padding-left: 5px;
}

@media screen and (max-width: 600px) {

    .input-completo{
        padding: 0 10px;
    }

    #input-mitad-izquierda{
        width: 100%;
        padding: 0 10px;
    }
    
    #input-mitad-derecha{
        width: 100%;
        padding: 0 10px;
    }

    #btnActualizar {
        justify-content: center;
    }

    #btnActualizar button {
        width: 90%;
    }

    #btnActualizar button.mat-flat-button {
        margin-top: 10px;
    }

    .mat-form-field {
        width: 100%;
    }

    #titulo{
        margin-left: 10px;
    }
    
}