<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <form #formulario="ngForm">
        <p><b>{{'LOGIN.login_label' | translate}}</b></p>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{'LOGIN.email' | translate}}</mat-label>
          <input matInput placeholder="test@test.com" required type="email" name="correo" [(ngModel)]="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </div>
      <div>        
        <mat-form-field appearance="outline">
          <mat-label>{{'LOGIN.password' | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="******" name="contrasena" [(ngModel)]="password" minlength="4" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="iniciarSesion()" [disabled]="formulario.invalid || !btnLogin">{{'LOGIN.btn_login' | translate}}</button>
    </form>
</div>