#lista_registros {
    list-style-type: none;
    columns: 2;
}

li{
    display: flex;
    align-items: center;
    padding-block: 5px;
}

.enter_time_icon{
    color: green;
    margin-right: 5px;
}

.exit_time_icon{
    color: red;
    margin-right: 5px;
}

/* #titulo{
    position: absolute;
    top: 70px;
    left: 25px;
} */

#fecha{
    position: absolute;
    top: 70px;
    right: 25px;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#barra-progreso{
    /* border-radius: 10px; */
    display: flex;
}
.barra{
    height: 10px;
    width: 25px;
    background-color: darkslategray;
}

#barra_0{
    border-radius: 10px 0px 0px 10px;
}

#barra_23{
    border-radius: 0px 10px 10px 0px;
}