<mat-stepper #stepper> <!--[linear]="true"-->
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Tipo</ng-template>
        <h4>Selecciona el tipo de ausencia:</h4>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de ausencia</mat-label>
            <mat-select [(ngModel)]="type" [required]="true" required>
                @for (tipo of tipos; track tipo) {
                  <mat-option [value]="tipo.value">{{tipo.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div>
          <button mat-button mat-stroked-button matStepperNext color="primary" class="btnNext">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fechas">
        <h4>Selecciona el rango de fechas:</h4>
        <mat-form-field>
            <mat-date-range-input [dateFilter]="filtroFechas" [min]="minDate" [rangePicker]="rangePicker">
                <input matStartDate placeholder="Fecha inicio" [(ngModel)]="start_time" [required]="true" required>
                <input matEndDate placeholder="Fecha fin" [(ngModel)]="end_time" [required]="true" required>
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancelar</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Aceptar</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
        </mat-form-field>
        <div>
            <button mat-button mat-stroked-button matStepperPrevious color="warn" class="btnBack">Back</button>
            <button mat-button mat-stroked-button matStepperNext color="primary" class="btnNext">Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Notas</ng-template>
        <h4>Escribe una Nota (opcional): </h4>
        <mat-form-field appearance="outline" style="width: 350px;">
            <mat-label>Notas</mat-label>
            <textarea [(ngModel)]="notes" matInput rows="3"></textarea>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious color="warn" class="btnBack">Back</button>
        <button mat-button (click)="addAbsence()" [disabled]="!type || !start_time || start_time == null || !end_time || end_time == null" color="primary" class="btnNext">Añadir</button>
      </div>
    </mat-step>
  </mat-stepper>