@if (loading) {
  <mat-progress-spinner mode="indeterminate" class="loading-spinner"></mat-progress-spinner>
}
<div>
  <mat-form-field appearance="outline">
    <mat-label>{{'CONFIG.lang_label' | translate}}</mat-label>
    <mat-select [(ngModel)]="idiomaSeleccionado">
      @for (idioma of idiomas; track idioma) {
        <mat-option [value]=idioma>{{ idioma }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="outline">
    <mat-label>{{'CONFIG.app_name_label' | translate}}</mat-label>
    <input matInput [(ngModel)]="appName">
  </mat-form-field>
</div>

<button mat-flat-button color="primary" [disabled]="idiomaSeleccionado == '' || appName == '' || updateDesactivado" (click)="updateConfig()">{{'CONFIG.update_label' | translate}}</button>
<button mat-fab color="primary" id="btnRefresh" [disabled]="loading" (click)="refresh()"><mat-icon>refresh</mat-icon></button>