#loginTitle{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #loginTitle{
        display: block;
        text-align: center;
    }
    #logo{
        margin-right: 10px;
        margin-bottom: -10px;
    }
}
