/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* #btnAddUser{
    background-color: #009fe3;
}

#btnRefresh{
    background-color: #009fe3;
} */

.primary-color{
    color: #009fe3;
}

.primary-background{
    background-color: #009fe3;
}